html {
  background-color: rgb(228, 186, 0);
}

.hero {
  background-color: rgb(206, 168, 0);
  margin: 0 auto;
  height: auto;
  text-align: center;
  padding: 3%;
}

#start-page {
  width: 40%;
  margin: 0 auto;
  background-color: rgb(206, 168, 0);
  border-radius: 10px;
  height: auto;
  margin-top: 10%;
  text-align: center;
  padding: 3%;
  font-size: 20px;
  font-weight: bold;
}

.modal-card-head {
  background-color: rgb(206, 168, 0);
}
.modal-card-body {
  background-color: rgb(107, 134, 255);
}

li {
  font-size: 20px;
  border-bottom: 2px dashed white;
  color: white;
  font-weight: bold;
}

.footer {
  background-color: rgb(206, 168, 0);
  margin-top: 10%;
}
